# Data Transfer Configuration
RECEIVER_URL=<your-receiver-endpoint>
INGESTION_API_KEY=<your-api-key>
BATCH_SIZE=<your-batch-size>
BATCH_INTERVAL_MS=<your-batch-interval-ms>

# Car Seeder Configuration
GENERATION_INTERVAL_MS=<your-generation-interval-ms>
